<div class="navigation">
  <div>
    
    <nav>
      <ul class="items">
      <%= link_to "Recipe App", root_path, class: "root" %>
        <li class="item">
          <%= link_to "Foods", foods_path %>
        </li>
        <li class="item">
          <%= link_to "Recipes", recipes_path %>
        </li>
        <li class="item">
          <%= link_to "Public Recipes", public_recipes_path %>
        </li>
      </ul>
    </nav>
  </div>
</div>